@import url(/tabs_css);

.error { color: red; font-weight: bold; }

.formLabel { float: left; width: 12em; }


h1 { font-family: sans-serif; } 

body { 
  padding: 0px; 
  margin: 0px; 
  font-size: 9pt; 
}

.tab {
    border-top: 1px outset black;
}

.panes { clear: left; 
}

.bg-tab-handle, .tab-handle {
    display: block;
    float: left;
    margin-left: 3pt;
    padding: 1pt;
    border-top: 1px outset black;
    border-left: 1px outset black;
    border-right: 1px outset black;
}

.iconified { 
  float: left;
  clear: left;
  width: 3em;
  border: 2px solid black;
  border-style: outset;
  margin: 2pt;
}

.iconified-hidden {
    display: none;
}

.iconified .titlebar {
    height: 30pt;
}

.enclosure-hidden {
    display: none;
}

.enclosure {
    border: 2px outset blue;
    background-color: white;
    margin: 2pt;
}



.draggable:hover .titlebar:hover {
    background-color: green;
    cursor: pointer;
}



.titlebar {
    background-color: #33c;
    padding: 1pt;
    height: 15pt;
}

.windowTitle {
    float: left;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.restore, .minimizer { 
    float: right;
    border: thin solid gray;
    padding: 1pt;
    background-color: white;
    margin: 1pt;
    font-size: 7pt;
    cursor: pointer;
}

input.topicBar {
    width: 100%;
}

.irc .tab {
    height: 550px;
}

.irc {
    width: 1000px;
}

.gameTab {
}

.irc .textArea {
    color: #aaa;
    background-color: black;
    font-family: monospace;
    font-size: 8pt;
    overflow: auto;
    height: 100%;
}

.nameSelect {
    float: left;
    clear: right;
    width: 12em;
    height: 10em;
}

.channel .textArea {
    width: 60em;
    height: 10em;
    float: left;
    clear: left;
}

input.chatentry {
    display: block;
    width: 100%;
}



.gmtools {
    width: 400px;
    height: 330px;
    float: left;
}

.uploadBox {
    height: 80pt;
    width: 230px;
    position: absolute;
    border: none;
}

.chooserIcon { 
    float: left; 
    margin: 2pt;
    text-align: center;
}
.chooserIconIconMiddle[class] {
    vertical-align: middle; position: static; /* jakpsatweb */
    height: 60px;
    border: 1px outset black; 
    background-color: white;
}
 
.chooserIconLabel {
    width: 58pt;
    overflow: hidden;
}
 
.chooserIconIconMiddle:hover, .chooserIconIcon:hover { 
    background-color: gold;
}

/* TEMP */
/* UNCOMMENT THESE when debugging CSS! You will be glad. */
/* .enclosedRegion { border: 5px dashed blue; } */
/* .tab { border: 5px solid green; } */
/* .enclosure { border: 5px solid red; } */
/* .iconified-hidden { border: 5px dotted red; } */
/*
body:before { 
    content: "dashed blue=enclosedRegion, green=tab, red=enclosure, dotted red=iconified-hidden" }
*/
