h1 
{
    position: absolute;
    top: 1em;
    right: 1em;
    font-family: sans-serif;
}

form
{
    clear: both;
}
.minimap 
{ float: left;
  width: 10em;
  height: 10em;
  border: 2px solid black;
  margin: 0.5em;
}

.mainmap
{ float: left;
  width: 30em;
  height: 25em;
  margin: 0.5em;
  clear: right;
  border: 2px solid black;
}

.chatentry
{
    width: 41.5em;
    margin-left: 0.5em;
    border: 2px solid blue;
    background-color: #f0f0ff;
}


/* for tabs.py */
    .bg-tab-handle {
      background-color: #aaf;
    }

    .bg-tab-handle, .tab-handle
    {
      color: white;
      margin: 6pt;
      text-decoration: none;
      padding: 3pt;
      border: thin solid black;
      color: white;
    }

    .tab-handle
    {
      color: blue;
      text-decoration: underline;
    }

    a[name] { display: block; }

    .tab { 
        border: thin solid blue; 
        display: block; 
        overflow: auto;
        margin-top: 3pt;
        height: 8em;
        width: 41em;
        margin-left: 0.5em;
        font-family: monospace;
    }

    .bg-tab { display: none; }

    .tabsFragment { 
        clear: left; 
        display: block;
    }

/* ... */


