@import url(/static/tabs.css);

/* general {{{ */
h1 { font-family: sans-serif; } 

body { 
  padding: 0px; 
  margin: 0px; 
  font-size: 9pt; 
}
/* }}} */

/* login form {{{ */
.error { color: red; font-weight: bold; }

.formLabel { float: left; width: 12em; }
/* }}} */

.topLinks {  /* {{{ */
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    width: 1000px;
    font-size: 8pt;
}

.topLink {
    float: right;
    margin-left: 1em;
}
/* }}} */

.accountManager { /* {{{ */
    width: 1000px;
    position: absolute;
}

.accountManager .haze { 
    width: 1000px; height: 593px;
    opacity: 0.5;
    -moz-opacity: 0.5
    filter: alpha(50);
    position: absolute;
    background-color: black;
}

.accountManagerInputs {
    color: white;
    position: absolute;
    top: 200px;
    left: 200px;
} /* }}} */

.tab { /* {{{ */
    border: none;
    border-top: 1px outset black;
}

.panes { clear: left; 
}

.bg-tab-handle, .tab-handle {
    display: block;
    float: left;
    margin-left: 3pt;
    padding: 1pt;
    border-top: 1px outset black;
    border-left: 1px outset black;
    border-right: 1px outset black;
} /* }}} */

.enclosure.decorated { /* {{{ */
    border: 2px outset blue;
    background-color: white;
    margin: 2pt;
}

.enclosure-hidden {
    display: none;
}

.iconified {
  float: left;
  clear: left;
  width: 3em;
  border: 2px solid black;
  border-style: outset;
  margin: 2pt;
}

.iconified-hidden {
    display: none;
}

.iconified .titlebar {
    height: 30pt;
}

.draggable:hover .titlebar:hover {
    background-color: green;
    cursor: pointer;
}

.titlebar {
    background-color: #33c;
    padding: 1pt;
    height: 15pt;
}

.windowTitle {
    float: left;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.restore, .minimizer { 
    float: right;
    border: thin solid gray;
    padding: 1pt;
    background-color: white;
    margin: 1pt;
    font-size: 7pt;
    cursor: pointer;
} /* }}} */

.irc { /* {{{ */
    width: 1000px; /* TODO - adjust this width and mapbox width on demand */
}

.irc .tab {
}

.irc .textArea {
    color: #aaa;
    background-color: black;
    font-family: monospace;
    font-size: 8pt;
    overflow: auto;
    height: 100%;
}

.gameTab {
}

.controlBar {
    width: 160px;
    float: left;
    height: 570px;
}

input.topicBar {
    width: 400px;
    float: left;
    clear: left;
} 

.mapbox {
    height: 420px;
    width: 800px;
    overflow: auto;
    float: left;
    clear: left;
}

.channel {
    float: left;
    clear: left;
}

.channel .textArea {
    width: 630px;
    height: 10em;
    float: left;
}

.nameSelect {
    float: left;
    width: 140px;
    height: 10em;
    font-family: monospace;
    font-size: 8pt;
}

.chatentry {
    float: left;
    clear: left;
}

.chatentry input {
    width: 765px;
} 

.toolButton {
    float: left;
    width: 24px;
    height: 24px;
    padding: 1px;
    margin: 1px;
    background-color: white;
    text-align: center;
    vertical-align: center;
    border: 1px outset black;
}

.toolButton:active {
    border: 1px inset black;
}

.toolButton:hover {
    background-color: #ffa;
}

.buttonRow {
    float: left;
    clear: left;
}

.toolbar {
    float: left;
    clear: left;
}

.tokenList {
    float: left;
    clear: left;
    border: 1px solid black;
    width: 100%;
    height: 420px;
}

.quickCharacters {
    float: left;
    clear: left;
    border: 1px solid black;
    width: 100%;
    height: 80px;
}
/* }}} */

.gmtools { /* {{{ */
    width: 400px;
    height: 330px;
    float: left;
}

.uploadBox {
    height: 80pt;
    width: 230px;
    position: absolute;
    border: none;
}

.chooserIcon { 
    float: left; 
    margin: 2pt;
    text-align: center;
}
.chooserIconIconMiddle[class] {
    vertical-align: middle; position: static; /* jakpsatweb */
    height: 60px;
    border: 1px outset black; 
    background-color: white;
}
 
.chooserIconLabel {
    width: 58pt;
    overflow: hidden;
}
 
.chooserIconIconMiddle:hover, .chooserIconIcon:hover { 
    background-color: gold;
} /* }}} */

/* UNCOMMENT THESE when debugging CSS! You will be glad. {{{ */
/* .enclosedRegion { border: 5px dashed blue; } */
/* .tab { border: 5px solid green; } */
/* .enclosure { border: 5px solid red; } */
/* .iconified-hidden { border: 5px dotted red; } */
/*
body:before { 
    content: "dashed blue=enclosedRegion, green=tab, red=enclosure, dotted red=iconified-hidden" }
*/
/* }}} */

/* vi:foldmethod=marker
 *  */
