
/* for tabs.py */
.bg-tab-handle, .tab-handle { text-decoration: none; }

.tab-handle { text-decoration: underline; }

.tab { display: block; }

.bg-tab { display: none; }

.tabsElement { display: block; }


/* ... */


